body {
    /* background-image: url("/assets/images/background.jpg"); */
    padding-top: 70px;
    background: pink;
}
.deleteNote {
    display: inline-block;
}
.previousNotes {
    display: inline-block;
    width: 90%
}
#scrape {
    margin: 8px 0px;
}
.image{
    float: left;
    margin-right: 15px;
}
.btn-styling{
    float: right;
    margin-top: -30px;
    
}
.title{
    margin-right: 15%;
    font-weight: bold !important;
    color: pink;
    
}
.title-saved{
   
    font-weight: bold !important;
    color: pink;
    
}
.banner{
    background:palevioletred;
    background-size:cover;
    background-position: center;
    height: 440px;
    background-position-y: 0px;
}
.saved-banner{
    background: pink;
    background-size:cover;
    background-position: center;
    height: 250px;
    background-position-y: 0px;
    color: rgb(255, 255, 255);
  
}
.saved-title{
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px blue;
    font-size: 50px;
    margin-top: -30px;
}